<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net471" />
  <package id="BouncyCastle.Cryptography" version="2.1.1" targetFramework="net48" />
  <package id="GemBox.Spreadsheet" version="49.0.1542" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net471" />
  <package id="GumroadLicensing" version="2.0.2" targetFramework="net471" />
  <package id="HarfBuzzSharp" version="7.3.0" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0" targetFramework="net48" />
  <package id="itext7" version="7.2.5" targetFramework="net471" />
  <package id="itext7.commons" version="7.2.5" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net471" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net471" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net471" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.26" targetFramework="net471" />
  <package id="Nevron.Nov.Chart" version="22.10.17.12" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="Npgsql" version="5.0.10" targetFramework="net471" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.19.130" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net471" />
  <package id="ServiceStack.Common" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.Interfaces" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.OrmLite" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.MySql" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.Oracle" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.SqlServer" version="6.0.2" targetFramework="net471" />
  <package id="ServiceStack.Text" version="6.0.2" targetFramework="net471" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net471" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net471" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net471" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net471" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net471" />
</packages>